TEVUN_HOST="{TEVUN_HOST}"
TEVUN_PORT_SSH="{TEVUN_PORT_SSH}"

TEVUN_USER_NAME="{TEVUN_USER_NAME}"
TEVUN_USER_GROUP="{TEVUN_USER_GROUP}"
TEVUN_USER_EMAIL="{TEVUN_USER_EMAIL}"

TEVUN_DEFAULT_BRANCH="{TEVUN_DEFAULT_BRANCH}"
